<a href="https://colab.research.google.com/github/Ekaterinnna/PyAn/blob/main/PyA_hw1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Условие 1
Оформляйте ноутбук, используя эти советы:
Номер задачи - заголовок 2
Номер подзадачи - заголовок 3
Предоставленные наборы данных оформляйте, как код

##Условие 2
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [3]:
def fruits(**kwargs):
  res=0
  for fruit, number in kwargs.items():
    res += number
  return res

res = fruits(apple=5, orange=6, kiwi=8)
res

19

##Условие 3
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты

[100, 125, -90, 345, 655, -1, 0, 200]

Используйте list comprehensions

In [4]:
expences_list = [100, 125, -90, 345, 655, -1, 0, 200]
sum([a for a in expences_list if a>0])

1425

##Условие 4
Даны два списка.

Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [5]:
dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22',\
         '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23',\
         '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', \
         '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', \
         '2021-10-26', '2021-12-09']

expences = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930,\
            2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

###4.1 
Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [7]:
sum([expences[i] for i in range(len(dates)) if (dates[i][5:7]=='11')])

25098

###4.2 
Найдите выручку компании в зависимости от месяца

Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.

Используйте аннотирование типов.

In [14]:
import calendar
def get_dict(dates:list, expences:list) -> dict:
  my_dict = {}
  for month in range(1, 13):
    month_expences = sum([expences[i] for i in range(len(dates)) if (dates[i][5:7]==str(month))])
    my_dict[calendar.month_name[month]] = month_expences
  return my_dict

get_dict(dates, expences)

{'January': 0,
 'February': 0,
 'March': 0,
 'April': 0,
 'May': 0,
 'June': 0,
 'July': 0,
 'August': 0,
 'September': 0,
 'October': 28645,
 'November': 25098,
 'December': 45452}